.label {
    margin-left: 45%;
}

.input1 {
    margin-left: 20%;
    width: 50vw;
}

.b {
    margin-left: 25%;
}

.select {
    margin-left: 2%;
}

.input2 {
    margin-left: 2%;
}

.button {
    margin-left: 2%;
    background-color: #0080FF;
    color: #ffff;
}